<html>
<head>
 <title>test</title>
</head>
<body>

<style type="text/css">
<!--
body {
background-image: url(https://s3.eu-west-2.amazonaws.com/acloudguru-london12/Chrome-Background-white-contact.jpg);
background-repeat: no-repeat;
margin-top: 10px;
}

nav {
    float: center;
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav1 {
     float: left;
 	 width:50%
}

nav2 {
	 float: left;
 	 padding: 15px;  
 	 width:80%;
}

</style>

<center><nav>
<i><h1> Image Upload Application</h1></i></nav>

<br>
<br>

<nav1>
<form action "/" method="POST" enctype="multipart/form-data">
<input type="file" name="myimage" ></input></nav1>


<br>

<nav2>
<h2>
<font color="blue">
<strong>Enter Caption Here</strong></font></h2>

 <input type="text" name="caption" value="">
 <input type="submit" name="submit" value="submit"></input></nav2>

</form>

</body>
</html>