<html>
<head>
 <title>test</title>
</head>

<style type="text/css">
<!--
body {
background-image: url(https://s3.eu-west-2.amazonaws.com/acloudguru-london12/Chrome-Background-white-contact.jpg);
background-repeat: no-repeat;
margin-top: 10px;
}
</style>


<body>
<h1>Image Not Uploaded Successfully.</h1>

<a href = "/"> Upload More New Images </a>
<br>
<br>
	
<a href = "/pagination"> View The Uploaded Images </a>


</body>
</html>